<settings>
    <setting propertyKey="@Properties.snapHours" title="@Strings.snapHoursDesc">
   	 	<settingConfig type="boolean" />
    </setting>
   	<setting propertyKey="@Properties.secondsHand" title="@Strings.secondsHandDesc">
   		<settingConfig type="boolean" />
    </setting>
    <setting propertyKey="@Properties.digitalTime" title="@Strings.digitalTimeDesc">
   		<settingConfig type="boolean" />
    </setting>
    <setting propertyKey="@Properties.batteryOutline" title="@Strings.batteryOutlineDesc">
   		<settingConfig type="boolean" />
    </setting>
</settings>